<footer class="section">
    <div class="container footer-container">
        <div class="footer-slogan">
            <p class="footer-title">homemade ice cream made</p>
            <h2 class="footer-text">with passion</h2>
        </div>

        <ul class="footer-social">
            <li class="footer-social__items">
                <a href="https://github.com/">
                    <svg width="19" height="19">
                        <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social__items">
                <a href="https://web.telegram.org/k/">
                    <svg width="19" height="19">
                        <use href="./images/icons.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social__items">
                <a href="https://www.facebook.com/index.php">
                    <svg width="19" height="19">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>

        </ul>

        <address class="footer-contakt">
            <ul class="footer-contakt__list">
                <li class="footer-contakt__items">
                    Feel free to contact
                </li>
                <li class="footer-contakt__tel">
                    <a href="tel:+61(0)383766284" class="footer-contakt__tel">+61 (0) 383 766 284</a>
                </li>
            </ul>

        </address>
        
        <div class="footer-right">
            <ul>
                <li class="footer-rights__items">© 2022 - IceCream.</li>
                <li class="footer-rights__items">All Rights Reserved.</li>
            </ul>
            
        </div>



    </div>


</footer>